.option {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.icon {
  height: 2.5vh;
  padding: 0 20px;
}
.text {
  font-size: 0.9em;
  font-weight: 600;
}

.active {
  background: #eef0ff;
  border-radius: 5px;
}
