.rect {
  height: 15vh;
  background-image: url("./assests/Rectangle.png");
  background-color: #d9d9d9;
  mix-blend-mode: hard-light;
  z-index: -1;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
.container {
  margin-left: 23vw;
}
.head {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 3vh;
  margin-right: 2vw;
}
.main {
  margin-top: 13vh;
}

@media (max-width: 600px) {
  .container {
    margin: 0 5vw;
  }
  .head {
    flex-direction: column-reverse;
  }
  .main {
    margin-top: 8vh;
  }
}
